<div>
    <mat-grid-list
        cols="3"
        rowHeight="250px"
        gutterSize="3em"
    >
        <mat-grid-tile *ngFor="let product of (products$ | async)">
            <app-product
                [product]="product"
                (addProductToCart)="cartService.addToCart($event)"
            >
            </app-product>
        </mat-grid-tile>
    </mat-grid-list>
</div>