<div class="cart-menu">
    <h2 class="cart-header">Cart</h2>

    <app-cartlist></app-cartlist>

    <ng-container *ngIf="(cartService.cart$ | async).size > 0">
        <mat-divider class="margin-bottom"></mat-divider>
    
        <button 
            mat-button
            class="checkout-button"
            routerLink="checkout"
        >
            Proceed to Checkout
        </button>
    </ng-container>

</div>