<div class="margin-bottom">
    <ng-container *ngFor="let cartItem of (cartItems$ | async)">
        <div class="d-flex cart-row">
            <div>
                {{ cartItem.productName }}
            </div>
            <div *ngIf="!applyTaxToPrice">
                {{ cartItem.quantity }} x ${{ cartItem.priceBeforeTax}}
            </div>
            <div *ngIf="applyTaxToPrice">
                {{ cartItem.quantity }} x ${{ cartItem.priceBeforeTax + cartItem.itemTax}}
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="(cartService.cart$ | async).size === 0">
        <div>No items added</div>
    </ng-container>

    <div
        *ngIf="includeTotal"
        class="d-flex flex-right cart-totals">
        <div>
            <span>Total: </span><span>${{totalPrice}}</span>
        </div>

    </div>
</div>
