.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

.purchase-section {
    margin: auto;
    border-width: 1px;
    min-height: 300px;
    min-width: 400px;
    max-width: 65vw;
}

.purchase-button {
    width: 150px;
    height: 35px;
}