<div>
    <div class="centered purchase-section">
        <h2>Checkout</h2>

        <app-cartlist [includeTotal]=true [applyTaxToPrice]=true></app-cartlist>

        <div
            *ngIf="(cartService.cart$ | async).size > 0"
            class="d-flex flex-right"
        >
            <button (click)="purchase()" mat-button class="purchase-button">
                Purchase
            </button>
        </div>
    </div>
</div>

