<mat-toolbar>
  <span
    routerLink="/"
    class="cursor-pointer"  
  >{{ title }}</span>
  <span class="spacer"></span>
  
  <button mat-icon-button [matMenuTriggerFor]="cartMenu">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <mat-menu #cartMenu="matMenu">
    <app-cart></app-cart>
  </mat-menu>
</mat-toolbar>

<div class="mat-app-background">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>