<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>${{product.price}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
        <button
            (click)="this.addProductToCart.emit(product)"
            class="add-to-cart-button"
            mat-button>
            Add to Basket
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>