/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor-pointer {
    cursor: pointer !important;
}

.margin-bottom {
    margin-bottom: 16px;
}

.d-flex {
    display: flex;
}

.flex-right {
    justify-content: flex-end;
}
